
h1{
    padding-top: 5%;
    color:darkblue;
    font-size:40px;

}
.box ul
{
    padding: 0px;
    margin: 0px;
}
.box{
    float: left;
    background-color: #fffdd0;
    width: 25%;
    height: 40%;
    
    margin:  4%;
    box-sizing: border-box;
    border: 2px solid black;

}
.box .title{
    width: 50%;
    float: right;
    height: 20%;
    line-height: 50px;
    background:  grey;
    font-size: 20px;
    font-style: bold;

    text-align: center;
    border: 1px solid black;

media
}
.box .column
{
    font-size: 18px;
    font-style:normal;

    padding: 10px;
    position: relative;
    top: 40px;
    
}
body{

background-color: skyblue;
}
@media (max-width: 991px) and (min-width: 768px)
{
    .box{
   align-items: center;
   align-self: center;
    width: 40%;

    height: 200px;
    background: white;
    margin: 5%;
    box-sizing: border-box;
    border: 2px solid black;
    }
    #p3{
        width: 85%;
        margin: 6% 6% 2% ;
    }
}
@media (max-width:767px)
{
    .box{
   align-items: center;
   align-self: center;
    width: 80%;

    height: 200px;
    background: white;
    margin: 4% 4% 4% 8%;
    box-sizing: border-box;
    border: 2px solid black;
    overflow: auto;
}

}